.shape.bright-grey.comments
  .row
    .large-2.columns
      .user-comment
        - if comment.user
          = link_to image_tag(avatar_url(comment.user, 50), alt: comment.user.username, width: "50", height: "50", :class => "avatar"), profile_path(comment.user)
        - else
          = image_tag('avatar-50.png', alt: "Avatar" , width: "50", height: "50", :class => "avatar")
    .large-10.columns.comment-large
      .row
        .large-10.columns
          .submitted
            %span.username
              - if comment.user.present?
                - if current_user
                  = link_to comment.user.username, profile_path(comment.user)
                - else
                  = link_to comment.user.username, '#', "data-reveal-id" => "login-window"
              - else
                = comment.user_name ||= "Anonym"
            = l comment.created_at, :format => :short
        .large-2.columns
          - if can? :destroy, Comment
            = link_to 'Löschen', url_for([comment.commentable, comment]), :method => :delete, :class => "button tiny secondary radius", :data => { :confirm => 'Sind Sie sich sicher?' }
      .row
        .large-12.columns
          %a{:name => comment.id.to_s}
          .comment-content
            %p
              = auto_link(sanitize(comment.content.gsub(/\n/, '<br />'),  tags: %w(br)), :all, :target => "_blank")
