Hallo #{@author.username},
\
Dies ist eine Nachricht zu folgender Initiative:
\
#{@initiative.title}
\
#{@anfrager.username} (#{@anfrager.email}) hat Ihnen folgende Nachricht geschrieben:
\
= @message
\
= render "/initiativen_mailer/signatur"