.row#footer
  .large-5.medium-12.small-12.columns
    Inhalte sind
    %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/de/"}
      %span.fa.fa-external-link
      CC-BY-SA
    lizenziert, sofern nicht anders angegeben.
    -#%a{:href => "http://okfn.de/", :target => "_blank"}
      Ein Projekt der Open Knowledge Foundation e.V.
  .large-7.small-12.columns
    .right
      = link_to "Presse", static_path('presse')
      \|
      = link_to "Spielregeln", static_path('spielregeln')
      \|
      = link_to "Kontakt", static_path('kontakt')
      \|
      = link_to "Impressum", static_path('impressum')
      \|
      %a{:href => "https://github.com/frankfurt-gestalten", :target => "_blank"}
        %span.fa.fa-external-link
        Open Source Code
#request.reveal-modal.medium{"data-reveal" => ""}
  %h2
    %i{:class => "icon-envelope"}
    Wir bitten um deine Unterstützung!
  %p
    Frankfurt Gestalten ist ein ehrenamtliches Projekt und wir freuen uns über jede Unterstützung. Hilf uns Frankfurter Lokalpolitik transparenter zu machen!
  %ul
    %li
      = link_to "Werde Mitglied von Frankfurt Gestalten", new_registration_path('user')
    %li
      Erzähle Freunden oder Kollegen von dieser Webseite.
    %li
      Empfehle uns auf
      %a{href: "http://www.facebook.com/share.php?title=Frankfurt Gestalten&u=http%3A%2F%2Fwww.frankfurt-gestalten.de"} Facebook,
      %a{href: "https://twitter.com/share?lang=de&text=Frankfurt Gestalten&url=http://www.frankfurt-gestalten.de"} Twitter,
      oder
      %a{href: "https://plus.google.com/share?hl=de&url=http://www.frankfurt-gestalten.de"} Google+
    %li
      Abonniere unseren Newsletter. Ein Mal in der Woche alles auf einen Blick!
  %form{"accept-charset" => "UTF-8", action: "http://frankfurt-gestalten.us1.list-manage.com/subscribe/post?u=97be5218ca0ada0b90d8326ae&id=fc4198bf0b", method: "POST",name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
    .mc-field-group
      %input#mce-EMAIL.required.email{name: "EMAIL", type: "email", value: "E-Mail"}/
    %div{style: "position: absolute; left: -5000px;"}
      %input{name: "b_97be5218ca0ada0b90d8326ae_fc4198bf0b", type: "text", value: ""}/
    %input#mc-embedded-subscribe.button.secondary.radius{name: "subscribe", type: "submit", value: "Abonnieren"}/
  %a.close-tutorial
    Ich hab leider gerade keine Zeit.
  %a.close-reveal-modal ×

#login-window.reveal-modal.medium{"data-reveal" => ""}
  .row.user
    .large-8.medium-12.columns
      %h2
        Anmelden
      = form_for(User.new, :url => session_path('user')) do |f|
        = hidden_field_tag 'modal', '1'
        .row
          .large-12.columns
            E-Mail
            = f.email_field :email
        .row
          .large-12.columns
            Passwort
            = f.password_field :password
        .row.spacetop.spacebottom
          .large-12.columns
            %label{:for => "remember_me"}
              = f.check_box :remember_me
              %span.custom.radio
                Für 2 Wochen speichern
              %br
              %br
        %a.close-reveal-modal
          X

        .row
          .small-10.columns
            = f.submit "Anmelden", :class => "button radius"
            = render "devise/shared/links"
    .large-4.columns
      = link_to "Registrieren", new_registration_path('user'), class: "button radius secondary small"

      .shape
        %h4
          Wichtiger Hinweis für Mitglieder!
        %p
          Mit der Umstellung auf die neue Plattform haben wir nur die Nutzerdaten ohne Passwort übertragen. Deshalb müsst ihr noch mal ein
          %b
            = link_to "neues Passwort beantragen.", new_password_path('user')
          = link_to "Bitte melden wenn es nicht klappt.", static_path('kontakt')